<link href="/css/style.css" rel="stylesheet" type="text/css">

<h1>Test de Neo4j sur Heroku !</h1>

<h3><u>Interface gestion basique</u></h3>

<!-- SUPRESSION -->
<form method="post" action="/db/delete">
	<label>Supprimer tous les noeuds</label>
	<input type="submit" value="SUPPRIMER">
</form>

<!-- AJOUT PERS-->
<form method="post" action="/person/add">
	<label>Nom</label>
	<input type="text" name="nom">
	<label>Age</label>
	<input type="text" name="age">
	<input type="submit" value="AJOUTER PERSONNE">
</form>

<br>
<h3><u>Liste noeuds type "Person"</u></h3>

<table id="table1">
		<% persons.forEach(function(person) { %>
		<tr>
			<td><%= person.id %> </td>
	    	<td><%= person.name %> </td>
	    	<td><%= person.age %> </td>
	    </tr>
<% }); %>
</table>