<h1>Test de Neo4j sur Heroku !</h1>

<h3>Interface gestion basique</h3>

<form method="post" action="/db/delete">
	<label>Supprimer tous les labels et tous les noeuds</label><br>
	<input type="submit" value="SUPR">
</form>