<h1>Test de Neo4j sur Heroku !</h1>

<h3>Interface gestion basique</h3>

<!-- SUPRESSION -->
<form method="post" action="/db/delete">
	<label>Supprimer tous les labels et tous les noeuds</label>
	<input type="submit" value="SUPPRIMER">
</form>

<!-- AJOUT PERS-->
<form method="post" action="/person/add">
	<label>Nom</label>
	<input type="text" name="name">
	<label>Age</label>
	<input type="text" name="age">
	<input type="submit" value="AJOUTER PERSONNE">
</form>


<br><br>
<h3><u>Liste noeuds type "Person"</u></h3>

<ul>
<% persons.forEach(function(person) { %>
    <li><%= person.name %></li>
<% }); %>
</ul>